Library/*


Library/*/*


Library/*/*/*


Library/*/*/*/*

Library/*/*/*/*/*

Library/*/*/*/*/*/*
Library/*/*/*/*/*/*/*


Temp/*
../Temp/*
../Temp/*
obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache

Assets/Scripts/*.meta
obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
Assembly-CSharp.csproj
